/* Variabili */
:root{
    --bg-main: #7fffd4;
    --bg-click: #6495ed;
    --bg-bomb: red;
    --text-bold: 1000;
    --text-big: 30px;
    --celle-num: 0;
}

/* Utility */
.cont-80{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
/* Flexbox */
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-spacebetween{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

/* Margin e padding */
.mr-10{
    margin-right: 10px;
}
.mr-5{
    margin-right: 5px;
}
.py-20{
    padding: 20px 0;
}
.w-100{
    width: 100%;
    height: 100%;
} 

/* Dimensioni Box */
.aspect-ratio{
    aspect-ratio: 1;
}

/* Colori assegnati al click */
.click{
    background-color: var(--bg-click);
}
.bomb{
    background-color: var(--bg-bomb);
}